html, body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: relative;
  font-family: 'Open Sans',sans-serif;
  margin: 0;
}

.buttonClear {
    border: none;
    outline: none;
}

.o-swordkin {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.o-startscreen {
  background-color: white;
  position: absolute;
  height: 75%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.o-gamescreen {
  position: relative;
  height: 100%;
  width: 100%;
}

.m-actionModals {
  position: relative;
  top: 15%;
  left: 10%;
  background-color: white;
  width: 80vw;
  height: 75vh;
}

/* BUTTON MENU */
.m-actionMenu {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
}

@media(max-width: 480px) {
  .m-actionMenu {
    left: 0;
  }
  .m-actionMenu button {
    width: 20vw;
    font-size: .7em;
  }
}

.isActive {
  font-weight: bold;
  background-color: black;
  color: white;
  outline: none;
  border: none;
}
/* END OF BUTTON MENU */

/* ORE COUNTER */
.a-oreCounter {
  position: absolute;
  top: 1%;
  left: 5%;
}
/* END OF ORE COUNTER */

/* MAIL VIEW */
.m-gameScreenMail {
  position: relative;
  background-color: white;
  left: 20vw;
}

.m-mailModal {
  position: absolute;
  top: 0;
  left: 0;
  height: 75vh;
  width: 80vw;
  background-color: white;
}

.m-letterModal {
  position: absolute;
  top: 0;
  left: 0;
  height: 75vh;
  width: 80vw;
  display: none;
  background-color: white;
}

.a-gameScreenMailButton {
  position: absolute;
  left: 20vw;
}

.a-letterModalButton {
  position: absolute;
  top: 0;
  right: 0;
}

.a-letterHeader {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3%;
  padding-left: 5%;
  background-color: white;
  text-align: justify;
}
/* END OF MAIL VIEW */

/* ARMORY VIEW */
.m-gameScreenArmory {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
}

.a-armoryEmptyMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.o-gameScreenMail {
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
}

.m-armoryModal {
  position: absolute;
  top: 3.5vh;
  left: 0;
  height: 75vh;
  width: 80vw;
  background-color: lightslategray;
}
/* END OF ARMORY VIEW */

/* RECIPES VIEW */
.m-gameScreenRecipes {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
}

.m-recipeCard {
  border: 1px solid black;
  border-radius: 3px;
  font-size: .9em;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
}

.a-recipeReqs {
  font-size: .8em;
}

.a-recipeForgeButton {
  position: absolute;
  top: 1vw;
  right: 1vw;
}
